@model Dziennik_v0._1.Core.ViewModels.WelcomePageViewModel
@{
    ViewBag.Title = "Index";
}
    <div class="row" style="margin-top:30px">

        @Html.Partial("_StatsBar", Model)
        @Html.Partial("_MainContent", Model)

    </div>
