@model Dziennik_v0._1.Core.ViewModels.WelcomePageViewModel
@{
    ViewBag.Title = "Index";
}
<div class="row" style="margin-top:30px">

    @Html.Partial("_StatsBar", Model)
    @Html.Partial("_MainContent", Model)
</div>
@section Scripts {
    @Styles.Render("~/Content/fullcalendarcss")
    @Scripts.Render("~/bundles/fullcalendarjs")

    <script>
            $(document).ready(function () {
                $.ajax({
                    type: "POST",
                    contentType: "application/json",
                    data: "{}",
                    url: "/WelcomePage/WorkoutTraningList",
                    dataType: "json",
                    success: function (data) {
                        $('#calendar').fullCalendar({
                            editable: false,
                            eventLimit: 2,
                            eventLimitText: 'More',
                            weekMode: 'liquid',
                            displayEventTime: false,
                            events: $.map(data, function (item, i) {
                                var color;
                                var icon;
                                if (item.Name === ' Tr. siłowy') {
                                    color = '#62c462';
                                    icon = 'dumbbell';
                                }
                                else {
                                    color = '#DEBA6F';
                                    icon = 'heartbeat';
                                };
                                var event = new Object();
                                event.title = item.Name;
                                event.start = item.Date;
                                event.color = color;
                                event.textColor = '#272b30';
                                event.icon = icon;
                                return event;
                            }),
                            eventRender: function (event, element) {
                                if (event.icon) {
                                    element.find(".fc-title").prepend("<i style='color: #272b30;font-size: 17px;margin-left:10px;' class='fa fa-" + event.icon + "'></i>")
                                        .attr('style', 'font-size: 18px; !important');
                                }
                            }
                        })
                    },
                    error: function () {
                    }
                });
            })
        </script>
}