@model Dziennik_v0._1.Core.ViewModels.WelcomePageViewModel
@{
    ViewBag.Title = "Index";
}
<div class="row" style="margin-top:30px">

    @Html.Partial("_StatsBar", Model)
    @Html.Partial("_MainContent", Model)

</div>
@section Scripts {
    @Styles.Render("~/Content/fullcalendarcss")
    @Scripts.Render("~/bundles/fullcalendarjs")
    <script>
        $(document).ready(function () {
            $("#calendar").fullCalendar({
                theame: true,
                header:
                {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek'
                },

                defaultView: 'month',
                editable: true,
                allDaySlot: true,
                slotminutes: 15,
            })
        });
    </script>
}