
@{
    ViewBag.Title = "DietSummary";
}

<h2>Podsumowanie:</h2>
<h4>Wybierz rok:</h4>

<figure class="highcharts-figure" style="margin-top:15px; margin-bottom:30px">
    <div id="container"></div>
</figure>

<div class="text-center">
    @Html.ActionLink("Powrót do odżywianie", "Index", null, new { @class = "btn btn-primary" })
</div>

@section Scripts{
    @Scripts.Render("~/bundles/highchartjs")
    @Scripts.Render("~/bundles/highchartcss")
    <script>
        Highcharts.setOptions({
            chart: {
                style: {
                    fontFamily: 'Lato'
                },
            },
            lang: {
                months: [
                    'Styczeń', 'Luty', 'Marzec', 'Kwiecień',
                    'Maj', 'Czerwiec', 'Lipiec', 'Sierpień',
                    'Wrzesień', 'Pażdziernik', 'Listopad', 'Grudzień'
                ],
                shortMonths: ['Sty', 'Lut', 'Mar', 'Kwi', 'Maj', 'Cze', 'Lip', 'Sie', 'Wrz', 'Paź', 'Lis', 'Gru'],
                noData: "Brak pomiarów w tym okresie",
            }
        });
    </script>

    <script>
        $(document).ready(function () {
            $.ajax({
                url: "/Api/DietApi/WeightPerYearList/" + 2020,
                method: "GET"
            })
                .done(function (data) {
                    Highcharts.chart('container', {
                        chart: {
                            scrollablePlotArea: {
                                minWidth: 700
                            }
                        },
                        title: {
                            text: 'Waga:'
                        },
                        xAxis: {
                            allowDecimals: true,
                            categories:data.date,
                        },
                        yAxis: {
                            min: 0,
                            title: {
                                text: 'Waga w kg.'
                            },
                        },
                        tooltip: {
                            shared: true,
                            crosshairs: true
                        },

                        plotOptions: {
                            series: {
                                cursor: 'pointer',
                                point: {
                                    events: {
                                        click: function (e) {
                                            hs.htmlExpand(null, {
                                                pageOrigin: {
                                                    x: e.pageX || e.clientX,
                                                    y: e.pageY || e.clientY
                                                },
                                                headingText: this.series.name,
                                                maincontentText: Highcharts.dateFormat('%A, %b %e, %Y', this.x) + ':<br/> ' +
                                                    this.y + ' sessions',
                                                width: 200
                                            });
                                        }
                                    }
                                },
                                marker: {
                                    lineWidth: 1
                                }
                            }
                        },
                        series: [{
                            name: 'Waga',
                            data: data.weight,
                            color: '#b4aaca',
                        }]
                    });
                })
                .fail(function () {
                    alert("Something failed!");
                });

        })
    </script>
}

