
@{
    ViewBag.Title = "Index";
}

<h2>Odżywianie: (wersja beta jeżyk angielski posiłków)</h2>
@Html.ActionLink("Profil", "UserProfile", "Diet", new { area = "" }, new { @class = "btn btn-info" })
<h2>Twoje posiłki:</h2>
<div class="d-flex justify-content-center h-100">
    <div class="searchbar">
        <input class="search_input" type="text" name="" placeholder="szukaj...">
        <a href="#" class="search_icon" id="js-search"><i class="fas fa-search"></i></a>
    </div>
</div>

<table id="tblPopulation">
    <thead>
        <tr>
            <td>Nazwa</td>
            <td>Kalorie</td>
            <td>Ilosc</td>
            <td>Zdjęcie</td>
        </tr>

    </thead>
</table>

    @section Scripts {
        <script type="text/javascript">
            $("#js-search").click(function () {
                result = $(".search_input").val(),
                    $.ajax({
                        url: 'https://trackapi.nutritionix.com/v2/search/instant?query=' + result,
                        type: 'GET',
                        dataType: 'json',
                        success: function (data) {

                            var tr;
                            console.log(data);
                            for (var i = 0; i < 10; i++) {
                                tr = tr + "<tr>";
                                tr = tr + "<td>" + data.branded[i].food_name + "</td>";
                                tr = tr + "<td>" + data.branded[i].nf_calories + "</td>";
                                tr = tr + "<td>" + data.branded[i].serving_qty + "</td>";
                                tr = tr + "<td><img src=" + data.branded[i].photo.thumb + " width='70' height='70'></td>";
                                tr = tr + "<td><a href='#' class='btn btn-primary'> dodaj </a></td>"
                                tr = tr + "</tr>";
                            }
                            $('#tblPopulation').append(tr);

                        },
                        error: function () { alert('coś poszło nie tak, przepraszamy'); },
                        beforeSend: setHeader
                    });
            });

            function setHeader(xhr) {
                xhr.setRequestHeader('x-app-id', 'ed255be5');
                xhr.setRequestHeader('x-app-key', 'e68e6d98d075c20deb380def4fd5f6f8');
            }
        </script>
    }
