
@{
    ViewBag.Title = "Index";
}

<h2>Odżywianie: (wersja beta język angielski posiłków)</h2>
@Html.ActionLink("Profil", "UserProfile", "Diet", new { area = "" }, new { @class = "btn btn-info btn-lg" })
<h2>Twoje posiłki:</h2>
<h4>@DateTime.Now</h4>
<h3>Sniadanie:</h3>
<h3>Odiad:</h3>
<h3>Kolacja:</h3>
<h3>Przekąski:</h3>
<div class="d-flex justify-content-center h-100">
    <div class="searchbar">
        <input class="search_input" type="text" name="" placeholder="szukaj...">
        <a href="#" class="search_icon" id="js-search"><i class="fas fa-search"></i></a>
    </div>
</div>

<table id="tblPopulation">
    <thead>
        <tr>
            <td>Nazwa</td>
            <td>Kalorie</td>
            <td>Ilosc</td>
            <td>Zdjęcie</td>
        </tr>

    </thead>
</table>

    @section Scripts {
        <script type="text/javascript">
            $("#js-search").click(function () {
                result = $(".search_input").val(),
                    $.ajax({
                        url: '../Api/DietApi/GetFoodData',
                        type: 'GET',
                        dataType: 'text',
                        success: function (data) {
                            console.log(data);
                        },
                        error: function () { alert('coś poszło nie tak, przepraszamy'); },
                    });
            });

        </script>
    }
