/*VARIBLES*/
/*DEFAULT*/
.body-content {
  min-height: 750px;
  padding-left: 15px;
  padding-right: 15px; }

.dl-horizontal dt {
  white-space: normal; }

input,
select,
textarea {
  max-width: 280px; }

/*MY CSS*/
.js-myform {
  max-width: 70px; }

#datepicker {
  background-color: #F4F7BE;
  min-width: 180px;
  text-align: center; }

.timepicker {
  background-color: #F4F7BE;
  max-width: 100px;
  text-align: center; }

.spanpicker {
  text-align: left !important; }

#btn-cardio {
  background-image: none;
  background-color: #DEBA6F; }
  #btn-cardio:hover {
    background-color: #a5884c; }

#cardiodropdown {
  background-color: #F4F7BE !important;
  max-width: 180px; }

.cardioRow {
  background-color: rgba(214, 157, 0, 0.08); }

.workoutRow {
  background-color: rgba(0, 255, 0, 0.03); }

.statsBar {
  margin: 5px;
  background-color: #3a3f46;
  border-radius: 5px; }

/*BOOTSTRAP OVERLOADS*/
th {
  text-align: left; }

.navbar-inverse .navbar-brand {
  color: #DEBA6F;
  text-shadow: none;
  font-weight: 700; }
  .navbar-inverse .navbar-brand:hover {
    color: #DEBA6F;
    text-shadow: none; }

.navbar-brand {
  font-size: 25px; }

.navbar-inverse .navbar-nav li a {
  color: #F4F7BE;
  text-shadow: none; }

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif; }

.wrokoutExerciseCountButton {
  min-width: 50px;
  background-color: black;
  margin-right: 2px; }

.form-control:focus {
  border-color: #679436;
  box-shadow: none; }

.form-control[readonly] {
  max-width: 100px;
  background-color: #95B46A;
  opacity: 1; }
  .form-control[readonly]:focus {
    border: 1px solid black;
    box-shadow: none; }

/*FONT ICONS OVERLOADS*/
.fa, .fas {
  font-weight: 900;
  font-size: 20px; }

.fa-dumbbell {
  color: #62c462; }

.fa-heartbeat {
  color: #DEBA6F; }
