@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>

<address>
    Łukasz Bekus<br />
    Nowa 31, 42-130 Grodzisko<br />
    <abbr title="Phone">Phone:</abbr>
    607-889-186
</address>

<address>
    <strong>Kontakt:</strong> <a href="mailto:lukaszbekus@interia.pl">lukaszbekus@interia.pl</a>
</address>