@{
    ViewBag.Title = "Home";
}
    <div class="row">
        <div class="col-sm-6" style="margin-top:40px">
            <img src="~/Content/images/workout.png" class="img-responsive" width="550" height="550" />
        </div>
        <div class="col-sm-6" style="margin-top:150px">
            <h1 style="color:#62c462; font-weight:900">Trening Siłowy</h1>
            <hr />
            <h1 class="text-center" style="color:#DEBA6F; font-weight:900">Trening Cardio</h1>
            <hr />
            <h1 class="text-right" style="margin-right: 100px; color: mediumpurple; font-weight: 900">Dieta</h1>
        </div>
    </div>
