@model Dziennik_v0._1.Core.ViewModels.StatisticsViewModels.TraningsLengthListViewModel

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<script src="~/Content/chartthemes/dark-unica.src.js"></script>

<h2>Statystyki:</h2>

<h3>Roczne Podsumowanie:</h3>
@if (Model.YearsWithTraning.Count() > 1)
{
    <h4>Wybierz rok:</h4>
    <div>
        @foreach (var item in Model.YearsWithTraning)
        {
            <button type="button" class="btn btn-primary" id="@item.ToString()"> @item.ToString()</button>
        }
    </div>
}

<figure class="highcharts-figure" style="margin-top:15px">
    <div id="container"></div>
</figure>

@section Scripts{
    <script>
        Highcharts.setOptions({
            chart: {
                style: {
                    fontFamily: 'Lato'
                }
            }
        });
    </script>

    <script>
        $(document).ready(function () {
            $.ajax({
                type: "POST",
                contentType: "application/json",
                data: "{}",
                url: "/Statistics/TraningsLengthList/?year=@DateTime.Now.Year",
                dataType: "json",
                success: function (data) {
                    var WorkoutLenght = [];
                    for (var i = 0; i < 12; i++) {
                        WorkoutLenght.push(parseInt(data.Workouts[i]));
                    };
                    var CardioLenght = [];
                    for (var i = 0; i < 12; i++) {
                        CardioLenght.push(parseInt(data.Cardios[i]));
                    };
                    Highcharts.chart('container', {
                        chart: {
                            type: 'column'
                        },
                        title: {
                            text: 'Czas Treningów w @DateTime.Now.Year'
                        },
                        xAxis: {
                            categories: ['Styczeń', 'Luty', 'Marzec', 'Kwiecień', 'Maj', 'Czerwiec', 'Lipiec', 'Sierepień', 'Wrzesień', 'Październik', 'Listopad', 'Grudzień']
                        },
                        yAxis: {
                            min: 0,
                            title: {
                                text: 'Ilość minut treningu'
                            },
                            stackLabels: {
                                enabled: true,
                                style: {
                                    fontWeight: 'bold',
                                    color: ( // theme
                                        Highcharts.defaultOptions.title.style &&
                                        Highcharts.defaultOptions.title.style.color
                                    ) || 'gray'
                                }
                            }
                        },
                        legend: {
                            align: 'right',
                            x: -30,
                            verticalAlign: 'top',
                            y: 25,
                            floating: true,
                            backgroundColor:
                                Highcharts.defaultOptions.legend.backgroundColor || 'white',
                            borderColor: '#CCC',
                            borderWidth: 1,
                            shadow: false
                        },
                        tooltip: {
                            headerFormat: '<b>{point.x}</b><br />',
                            pointFormat: '{series.name}: {point.y}<br />Łącznie: {point.stackTotal}'
                        },
                        plotOptions: {
                            column: {
                                stacking: 'normal',
                                dataLabels: {
                                    enabled: true
                                }
                            }
                        },
                        series: [{
                            name: 'Siłowy',
                            data: WorkoutLenght,
                            color: '#62c462',
                        }, {
                            name: 'Cardio',
                            data: CardioLenght,
                            color: '#DEBA6F',
                        }]
                    });
                },
                error: function () {
                }
            });
        })
    </script>
    @if (Model.YearsWithTraning.Count() > 1)
    {
        foreach (var item in Model.YearsWithTraning)
        {
<script>
                    $("#@item.ToString()").click(function (){
                        $.ajax({
                            type: "POST",
                            contentType: "application/json",
                            data: "{}",
                            url: "/Statistics/TraningsLengthList/?year=@item.ToString()",
                            dataType: "json",
                            success: function (data) {
                                var WorkoutLenght = [];
                                for (var i = 0; i < 12; i++) {
                                    WorkoutLenght.push(parseInt(data.Workouts[i]));
                                };
                                var CardioLenght = [];
                                for (var i = 0; i < 12; i++) {
                                    CardioLenght.push(parseInt(data.Cardios[i]));
                                };
                                Highcharts.chart('container', {
                                    chart: {
                                        type: 'column'
                                    },
                                    title: {
                                        text: 'Czas Treningów w @item.ToString()'
                                    },
                                    xAxis: {
                                        categories: ['Styczeń', 'Luty', 'Marzec', 'Kwiecień', 'Maj', 'Czerwiec', 'Lipiec', 'Sierepień', 'Wrzesień', 'Październik', 'Listopad', 'Grudzień']
                                    },
                                    yAxis: {
                                        min: 0,
                                        title: {
                                            text: 'Ilość minut treningu'
                                        },
                                        stackLabels: {
                                            enabled: true,
                                            style: {
                                                fontWeight: 'bold',
                                                color: ( // theme
                                                    Highcharts.defaultOptions.title.style &&
                                                    Highcharts.defaultOptions.title.style.color
                                                ) || 'gray'
                                            }
                                        }
                                    },
                                    legend: {
                                        align: 'right',
                                        x: -30,
                                        verticalAlign: 'top',
                                        y: 25,
                                        floating: true,
                                        backgroundColor:
                                            Highcharts.defaultOptions.legend.backgroundColor || 'white',
                                        borderColor: '#CCC',
                                        borderWidth: 1,
                                        shadow: false
                                    },
                                    tooltip: {
                                        headerFormat: '<b>{point.x}</b><br />',
                                        pointFormat: '{series.name}: {point.y}<br />Łącznie: {point.stackTotal}'
                                    },
                                    plotOptions: {
                                        column: {
                                            stacking: 'normal',
                                            dataLabels: {
                                                enabled: true
                                            }
                                        }
                                    },
                                    series: [{
                                        name: 'Siłowy',
                                        data: WorkoutLenght,
                                        color: '#62c462',
                                    }, {
                                        name: 'Cardio',
                                        data: CardioLenght,
                                        color: '#DEBA6F',
                                    }]
                                });
                            },
                            error: function () {
                            }
                            })
                    });
</script>
        }
        }
    }