<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>


<script src="~/Content/chartthemes/dark-unica.src.js"></script>


<h2>Statystyki:</h2>

@Html.Partial("_Chart")

@section Scripts{
    <script>
        Highcharts.setOptions({
            chart: {
                style: {
                    fontFamily: 'Lato'
                }
            }
        });
    </script>

    <script>
        $(document).ready(function () {
            $.ajax({
                type: "POST",
                contentType: "application/json",
                data: "{}",
                url: "/Statistics/TraningsLengthList",
                dataType: "json",
                success: function (data) {
                    var WorkoutLenght = [];
                    for (var i = 0; i < 12; i++) {
                        WorkoutLenght.push(parseInt(data.Workouts[i]));
                    };
                    var CardioLenght = [];
                    for (var i = 0; i < 12; i++) {
                        CardioLenght.push(parseInt(data.Cardios[i]));
                    };
                    Highcharts.chart('container', {
                        chart: {
                            type: 'column'
                        },
                        title: {
                            text: 'Treningi'
                        },
                        xAxis: {
                            categories: ['Sty', 'Lut', 'Mar', 'Kwi', 'Maj', 'Cze', 'Lip', 'Sie', 'Wrz', 'Paź', 'Lis', 'Gru']
                        },
                        yAxis: {
                            min: 0,
                            title: {
                                text: 'Ilość minut treningu'
                            },
                            stackLabels: {
                                enabled: true,
                                style: {
                                    fontWeight: 'bold',
                                    color: ( // theme
                                        Highcharts.defaultOptions.title.style &&
                                        Highcharts.defaultOptions.title.style.color
                                    ) || 'gray'
                                }
                            }
                        },
                        legend: {
                            align: 'right',
                            x: -30,
                            verticalAlign: 'top',
                            y: 25,
                            floating: true,
                            backgroundColor:
                                Highcharts.defaultOptions.legend.backgroundColor || 'white',
                            borderColor: '#CCC',
                            borderWidth: 1,
                            shadow: false
                        },
                        tooltip: {
                            headerFormat: '<b>{point.x}</b><br />',
                            pointFormat: '{series.name}: {point.y}<br />Total: {point.stackTotal}'
                        },
                        plotOptions: {
                            column: {
                                stacking: 'normal',
                                dataLabels: {
                                    enabled: true
                                }
                            }
                        },
                        series: [{
                            name: 'Siłowy',
                            data: WorkoutLenght,
                            color: '#62c462',
                        }, {
                            name: 'Cardio',
                            data: CardioLenght,
                            color: '#DEBA6F',
                        }]
                        //    ,
                        //    {
                        //    name: 'Jane',
                        //    data: [2, 2, 3, 2, 1]
                        //}, {
                        //    name: 'Joe',
                        //    data: [3, 4, 4, 2, 5]
                        //}]
                    });
                },
                error: function () {
                }
            });
        })
    </script>
}