@model Dziennik_v0._1.Core.ViewModels.StatisticsViewModels.WorkoutStatisticsViewModel

@{
    ViewBag.Title = "WorkoutStatistics";
}


<h2>Statystyki treningu siłowego:</h2>

@if (Model.YearsWithTraning.Count() > 1)
{
    <h4>Wybierz rok:</h4>
    <div>
        @foreach (var item in Model.YearsWithTraning)
        {
            <button type="button" class="btn btn-primary" id="@item.ToString()"> @item.ToString()</button>
        }
    </div>
}

<figure class="highcharts-figure" style="margin-top:15px; margin-bottom:30px">
    <div id="container"></div>
</figure>

@section Scripts{
    @Scripts.Render("~/bundles/highchartjs")
    @Scripts.Render("~/bundles/highchartcss")
<script>
        Highcharts.setOptions({
            chart: {
                style: {
                    fontFamily: 'Lato'
                },               
            }
        });
</script>

    <script>
        $(document).ready(function () {
            $.ajax({
                type: "POST",
                contentType: "application/json",
                data: "{}",
                url: "/Statistics/WorkoutVolumeList/",
                dataType: "json",
                success: function (data) {
                    var XaxisYears = [];
                    for (var i = 0; i < data.YearsWithTraning.length; i++) {
                        XaxisYears.push(parseInt(data.YearsWithTraning[i]));
                    };
                    Highcharts.chart('container', {
                        chart: {
                            type: 'column'
                        },
                        title: {
                            text: 'Objętość treningów'
                        },
                        xAxis: {
                            categories: XaxisYears,
                        },
                        yAxis: {
                            min: 0,
                            title: {
                                text: 'Objętość treningowa kg.'
                            },
                        },
                        //legend: {
                        //    align: 'right',
                        //    x: -30,
                        //    verticalAlign: 'top',
                        //    y: 25,
                        //    floating: true,
                        //    backgroundColor:
                        //        Highcharts.defaultOptions.legend.backgroundColor || 'white',
                        //    borderColor: '#CCC',
                        //    borderWidth: 1,
                        //    shadow: false
                        //},
                        //tooltip: {
                        //    headerFormat: '<b>{point.x}</b><br />',
                        //    pointFormat: '{series.name}: {point.y} min.<br />Łącznie: {point.stackTotal} min.'
                        //},
                        //plotOptions: {
                        //    column: {
                        //        stacking: 'normal',
                        //        dataLabels: {
                        //            enabled: true
                        //        }
                        //    }
                        //},
                        series: [{
                            name: 'Objętość',
                            data: data.WorkoutVolume,
                            color: '#62c462',
                        },
                            //{
                            //name: 'Cardio',
                            //data: CardioLenght,
                            //color: '#DEBA6F',
                            //}
                        ]
                    });
                },
                error: function () {
                }
            });
        })
    </script>
}